<div class="containor">
	<label class="title">
    <label class="text">Update {{username|uppercase}}'s password</label> 
  </label>
	<div class="close" (click)="closeEditPassword()"></div>
	<form [formGroup]="editPasswordForm" (ngSubmit)="editPasswordForm.valid && onSubmit()" novalidate>
		<input class="input oldPassword" id="password"
      formControlName="oldPassword"
      [(ngModel)]="oldPassword"
      placeholder=" Enter your old password"
      [type] = "isShow ? 'text' : 'password'"/>

    <input class="input newPassword" id="password"
      formControlName="newPassword"
      [(ngModel)]="newPassword"
      placeholder=" Enter your new password"
      [type] = "isShow ? 'text' : 'password'"/>

    <input class="input passwordComfirm" id="passwordComfirm"
      formControlName="passwordComfirm"
      [(ngModel)]="passwordComfirm"
      placeholder=" Re-enter your new password"
      [type] = "isShow ? 'text' : 'password'"/>

    <div class="checkbox">
      <input class="checkmark"
        type="checkbox"
        [(ngModel)]="isShow"
        [ngModelOptions]="{standalone: true}">
      <div class="label">Show my password</div>
    </div>

    <button type="submit" class="submit button" [disabled]="!editPasswordForm.valid">update</button>

  </form>
</div>
