<app-calendar (changeDay)="onChangeDay($event)"></app-calendar>
<app-navbar></app-navbar>
<!--The content below is only a placeholder and can be replaced.-->
<div class = "wrapperBtn">
  <button class = "rightBtn"
          routerLink="/week">
          Week
  </button>
  <button class = "rightBtn"
          routerLink="/day">
          Day
  </button>

</div>

<div class="shadow"></div>
<div class="wrapper">
  <button class="btn" (click)="today()">Today</button>
  <div name="today" class="today inline-block">
    {{curDayFormat}}
  </div>
  <div name="previous" class="prev inline-block gray" (click)="previous()">
    < </div> <div class="space inline-block">
  </div>
  <div name="next" class="next inline-block gray" (click)="next()"> ></div>
  <div  class = "container">
    <div class="timing">
      <ul *ngFor="let timing of timingArr">
        <li class="timing">{{ timing }}</li>
      </ul>
    </div>

    <div class="schedule">
      <ul *ngFor="let timing of timingArr">
        <li class="gray">
          <div (click) = "showEvent = false">&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-add-event [hidden]="showEvent"></app-add-event>
