<div class = "wrapper">
  <div class = "eventDetail">
    <div class = "close"><button (click) = "closeEventDetail()">x</button></div>
    <div class = "img delete"></div>
    <div class = "img edit"></div>
    <div class = "img email"></div>
    <ul>
        <li><label class = "circle">&nbsp;</label><label class = "eventTitle">{{eventTitle}}</label></li>
        <li><label class = "eventStartTime">{{eventStartTime}} - </label><label class = "eventEndTime">{{eventEndTime}}</label></li>
        <li><label></label><label class = "eventLocation">Location: {{eventLocation}}</label></li>
    </ul>
  </div>
</div>
<div class = "shadow"> </div>

