.wrapper {
  position: fixed;
  margin-top: 200px;
  width: 100%;
  padding-left: 30%;
  z-index: 100;
  min-width: 1000px;
  max-width: 2000px;
}


.control {
  position: relative;
  background-color: white;
  width: 480px;
  height: 270px;
}

.container {
  // box-shadow: 1px 1px 40px #9c9797;
  // border: 1px solid gray;
  // border-radius: 10px;
  // width: 40%;
  // height: 250px;
  // background-color: white;
  position: relative;
  //top: 30px;
  //left: 30px;
  width: 420px;
  height: 210px;
  border-radius: 10px;
  padding: 20px 30px 30px 30px;
  // padding-bottom: 8px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8);
  z-index: 10;

  .img {
    //display:inline-block;
    position: relative;
    float: right;
    margin: 5px 0 0 10px;
    width: 25px;
    height: 25px;
  }

  .img:hover {
    border-bottom: 1px solid gray;
  }

  .close {
    //display: inline-block;
    width: 35px;
    height: 35px;
    position: relative;
    //right: -390px;
    float:right;
    border-radius: 50%;
    // background-color: white;

    .icon {
      position: relative;
      top: 10px;
      left: 10px;
      width: 100%;
      height: 15px;
      background: no-repeat;
      background-image: url(../pic/close.svg);
      cursor: pointer;
    }
  }

  .close:hover {
    background-color: #e7e7e7;
  }

  .delete {
    background: url(../pic/delete.svg);
  }

  .edit {
    background: url(../pic/edit.svg);
  }

  .email {
    background: url(../pic/email.svg);
  }

  .timeline {

    display: inline-block;
    position: relative;
    top: -7px;
    left: 12px;
    width: 360px;
    height: 30px;
    background-color: #e7e7e7;
    border-radius: 5px;

    .eventStartTime,
    .eventEndTime,
    .eventLocation {
      font-size: 18px;
    }
  }
  
  .circle {
    display: inline-block;
    border-radius: 10px;
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: rgba(36, 118, 225, 0.7);
  }

  .eventTitle {
    vertical-align: middle;
  }

  button {
    width: 25px;
    height: 25px;
  }

  ul {
    margin-top: 50px;
    list-style-type: none;

    li {
      height: 50px;
      font-size: 24px;
      font-weight: 300;
    }
  }

  .timer {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
    background: no-repeat;
    background-image: url('../pic/timer.svg');
    margin: 0 10px 0 0;
  }
}

.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(99, 95, 95, 0.1);
}
