<div class = "wrapper">
  <div class = "control">
  <div class = "container">
    <div class = "close" (click) = "closeEventDetail()"><div class="icon"></div></div>
    <div class = "img delete" (click) = "deleteEvent()"></div>
    <div class = "img edit" (click) = "editEvent()"></div>
    <div class = "img email"></div>
    <ul>
        <li><label class = "circle">&nbsp;</label><label class = "eventTitle">{{eventTitle}}</label></li>
        <li>
          <label class="timer"></label>
          <label class="timeline">
              <label class = "eventStartTime">{{eventStartTime}} — </label>
              <label class = "eventEndTime">{{eventEndTime}}</label>
          </label>          
        </li>
        <li>
          <label class="location"></label>
          <label class = "underborder eventLocation">{{eventLocation}}</label>
        </li>
    </ul>
  </div>
</div>
</div>
<div class = "shadow"> </div>

