<div class="control">
    <div class="container">
        <div class="close" (click)="goBack()">
          <div class="icon"></div>
        </div>
        <div class="content">
      
            <label for="title">
              <input [(ngModel)]="title"
                type="text" class="input-title" placeholder="Add Title">
            </label>
      
            <label for="location">
              <input [(ngModel)]="location"
                type="text" class="input-address" placeholder="Add Location">
            </label>
      
            <div class="choose-date">
              <div class="timer"></div>
              <div for="date" class="date-line">
                  <input [(ngModel)]="startDateTemp" (click)="selectStartDate()" id="startDate" type="text" class="d-date-left" placeholder="Start Date" >
                  <input [(ngModel)]="startTimeTemp" (click)="controlDisplay($event)" (clickOutside)="onClickedOutside($event)" id="startTime" type="text" class="d-time" placeholder="Start Time" >
                  <span>—</span>
                  <input [(ngModel)]="endTimeTemp" (click)="controlDisplay($event)" id="endTime" type="text" class="d-time" placeholder="End Time" >
                  <input [(ngModel)]="endDateTemp" (click)="selectEndDate()" type="text" class="d-date" placeholder="End date" >
              </div>
            </div>  
      
            <button class="save-button" (click)="onSubmit()">Save</button>
      
        </div>
    </div> 
      
    <div *ngIf="getDisplayFlag().startTimeDisplay == 1" class="start-time-chooser">
        <div class="scroll">
            <div *ngFor="let time of startTimeArr"  class="item" >
              <span (click)=chooseTime(time)>{{time}}</span>
            </div>
        </div>
    </div>

    <div *ngIf="getDisplayFlag().endTimeDisplay == 1" class="end-time-chooser">
        <div class="scroll">
            <div *ngFor="let time of endTimeArr"  class="item" >
              <span (click)=chooseTime(time)>{{time}}</span>
            </div>
        </div>
    </div>

    <!-- <app-calendar *ngIf="judgeSelectStartDate() === true"></app-calendar> -->
</div>

<router-outlet></router-outlet>