.wrapper{
  margin-top:170px;
  margin-left: 330px;
  position: absolute;
  width:calc(100% - 350px);
  min-width:450px;
}

.firstColumn{
  width: 50px;
}
.column{
  width: 13%;
}
.float-left{
  float:left;
}
ul {
  //position: absolute;
  list-style-type: none;
  padding-left: 0;
  margin:0;
  li{
    float:left;
    line-height: 40px;
    width:100%;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }
}



