.wrapper {
  margin-top: 140px;
  margin-left: 330px;
  position: absolute;
  width: calc(100% - 350px);
  min-width: 600px;

  .btn{
    position: absolute;
    top:-40px;
    left:-5px;
  }
  .prev {
    position: absolute;
    left:40px;
    top:2px;
    font-size: 30px;
    font-weight: 300;
  }

  .prev:hover {
    border-radius: 5px;
    cursor: pointer;
    background: lightgray;
  }

  .today {
    padding: 5px 0 0 0px;
    width:100px;
    font-size: 22px;
    color: gray;
  }

  .space{
    position: absolute;
    left:20px;
    width:30px;
  }
  .next {
    position: absolute;
    top:2px;
    left:96%;
    font-size: 30px;
    font-weight: 300;
  }

  .next:hover {
    border-radius: 5px;
    cursor: pointer;
    background: lightgray;
  }

  .inline-block{
    display: inline-block;
    vertical-align: middle;
  }

  .hidden {
    display: none;
  }
}

.firstColumn {
  width: 50px;
}

.column {
  width: 13%;
}

.float-left {
  float: left;
}

.cursor-point {
  cursor: pointer;
}



.hiddenLi{
  display: inline-block;
  height:20px;
}

.noBottom{
  border-bottom: 1px solid white !important;
}

ul {
  //position: absolute;
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  .date {
    font-size: 24px;
    font-weight: 200;
    color: gray;

    .isToday {
      background-color: rgb(36, 118, 225);
      color: white;
    }

    div {
      width: 40px;
      border-radius: 30px;
      margin: 0 auto;
    }
  }

  li {
    text-align: center;
    float: left;
    line-height: 40px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }

  .detailEvent{
    width:100%;
    text-align: center;
    color:white;
    //border-radius: 5px;
    background-color: rgba(36, 118, 225, 0.6);
  }
  .haveEvent{
    display: none;
  }
  .color-gray {
    color: gray;
  }

  .noBorder {
    // color white : same as the background color -> hidden the border
    border-bottom: 1px solid white;
    border-right: 1px solid white;
  }
}

.wrapperBtn {
  height: 107%;
  width: calc(100% - 350px);
  border-left: solid 1px lightgray;
  margin-top: 100px;
  margin-left: 300px;
  padding-left: 20px;
  position: absolute;
  min-width: 500px;

  .selected{
    background-color: rgba(36, 118, 225, 0.7);
    color: white;
  }

  .rightBtn {
    float: right;
  }
}
