.container{
	position: fixed;
	// box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	left: 20px;
	bottom: 200px;
	width: 300px;
	border-radius: 5px;
}

.title {
	background-color: rgb(235, 235, 255);
	padding: 10px 5px 10px 5px;
	border-radius: 10px;
	letter-spacing: 0.1em;
	text-align: center;
	margin-bottom: 20px;
}

.events{
	margin: 10px 5px 0 5px;
	list-style-type: square;
	// padding: 0;
	width: 15em;
}

.events li{
	cursor: pointer;
	position: relateive
}

.finished{

}