<div class = "wrapper">
<div class="control">
    <div class="container">
        <div class="close" (click)="closeAddEvent()">
          <div class="icon"></div>
        </div>
        <div class="content">

            <label for="title">
              <input [(ngModel)]="title"
                type="text" class="input-title" placeholder="Add Title">
            </label>

            <label for="location">
              <input [(ngModel)]="location"
                type="text" class="input-address" placeholder="Add Location">
            </label>

            <div class="choose-date">
              <div class="timer"></div>
              <div for="date" class="date-line">
                <input [(ngModel)]="startDateTemp" [matDatepicker]="startPicker" id="startDate" (click)="startPicker.open()" type="text" class="d-date-left" placeholder="Start Date">
                <mat-datepicker #startPicker></mat-datepicker>
                <input [(ngModel)]="startTimeTemp" (click)="controlDisplay($event)" (clickOutside)="onClickedOutside('startoutside')" id="startTime" type="text" class="d-time" placeholder="Start Time" >
                <span>—</span>
                <input [(ngModel)]="endTimeTemp" (click)="controlDisplay($event)" (clickOutside)="onClickedOutside('endoutside')" id="endTime" type="text" class="d-time" placeholder="End Time" >
                <input [(ngModel)]="endDateTemp" [matDatepicker]="endPicker" id="endDate" (click)="endPicker.open()" type="text" class="d-date-left" placeholder="End Date" >
                <mat-datepicker #endPicker></mat-datepicker>
              </div>
            </div>

            <button class="save-button" (click)="onSubmit()">Save</button>

        </div>
    </div>

    <div *ngIf="displayArr.startTimeDisplay == 1" class="start-time-chooser">
        <div class="scroll">
            <div *ngFor="let time of startTimeArr" (click)=setStartTime(time) class="item" >
              <span>{{time}}</span>
            </div>
        </div>
    </div>

    <div *ngIf="displayArr.endTimeDisplay == 1" class="end-time-chooser">
        <div class="scroll">
            <div *ngFor="let time of endTimeArr" (click)=setEndTime(time) class="item" >
              <span>{{time}}</span>
            </div>
        </div>
    </div>

    <!-- <app-calendar *ngIf="judgeSelectStartDate() === true"></app-calendar> -->
</div>
</div>
<div class = "shadow"></div>

