<section class="container">
  <div class="login">
    <h1>Welcome to Register Pigeon Calendar</h1>

    <p><input type="text" name="login" placeholder="Username:Your Email Address" [(ngModel)]="userName"></p>
    <p *ngIf="checkUserName()" class="username_error">Please input the correct format</p>

    <p><input type="password" name="password" placeholder="Password: At least 5 characters" [(ngModel)]="password"></p>
    <p><input type="password" name="password" placeholder="Confirm password" [(ngModel)]="checkPassword"></p>

    <p *ngIf="checkPasswordIsEqual()" class="password_error">Please input the same password!</p>
    <p class="remember_me">
      <label>
        <input type="checkbox" name="remember_me" id="remember_me">
        Remember me
      </label>
    </p>
    <p class="submit">
      <button nz-button nzType="primary" [disabled]="checkPasswordIsEqual() || checkUserName()"
              (click)="registerUser()">Register
      </button>
    </p>

  </div>

  <div class="login-help">
    <p>Help <a href="javascript:void(0);">Click here to reset it</a>.</p>
  </div>
</section>
