.container{
  margin: auto;
  padding: 1em;
  width: 600px;
}
.header{
  margin: 3px;
  border: 1px solid rgb(71, 71, 71);
}

.title{
  color: navy;
  background: gray;
  padding: 8px 20px;
  font-weight: bold;
}
