<!-- <div class="container">
    <div class="header">
      <div class="pigeon"></div>
      <div class="title">Pigeon Calendar</div>
    </div>

    <div class="signin">Sign In</div>

    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" novalidate>

      <input class="input username" id="username"
        formControlName="username"
        [(ngModel)]="user.username"
        placeholder=" Enter your username" />

      <input class="input password" id="password"
        formControlName="password"
        [(ngModel)]="user.password"
        placeholder=" Enter your password"
        [type]="isShow ? 'text' : 'password'" />

      <div class="checkbox">
        <div class="others">
          <a routerLink="/register">Create a new account</a>
        </div>
        <input class="checkmark"
          type="checkbox"
          [(ngModel)]="isShow"
          [ngModelOptions]="{standalone: true}">
        <div class="label">Show my password</div>
      </div>

      <div class = "invalid">
        <div class = "invalidInfo inline-block font-14"
        [ngClass] = "{'hidden': isValid2()}"> Invalid Username or Password</div>
        <div class = "wrongPassword inline-block font-14"
        [ngClass] = "{'hidden': isValid1()}">The password doesn't match the username</div>
      </div>
      <button type="submit" class="submit button" [disabled]="!loginForm.valid">submit</button>

    </form>
  </div>

  <button (click)="auth0.login()" *ngIf="!auth0.loggedIn">Log In</button> -->
