<div class="container">
  <div class="header">
    <div class="pigeon"></div>
    <div class="title">Pigeon Calendar</div>
  </div>

  <div class="signin">Sign In</div>

  <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" novalidate>

    <input class="input email" id="username"
      formControlName="username"
      [(ngModel)]="user.username"
      placeholder=" Enter your username" />

    <input class="input password" id="password"
      formControlName="password"
      [(ngModel)]="user.password"
      placeholder=" Enter your password"
      [type]="isShow ? 'text' : 'password'" />

    <div class="checkbox">
      <input class="checkmark"
        type="checkbox"
        [(ngModel)]="isShow"
        [ngModelOptions]="{standalone: true}">
      <div class="label">Show my password</div>
    </div>



    <button
    class="submit button"
    [disabled]="!loginForm.valid"
    (click)="onLoginSubmit()">Log in</button>

    <hr>

    <div class="others">
      <a routerLink="/register">Register a new account</a><p></p>
      <a routerLink="/resetpassword">Forgot my password</a>
    </div>

  </form>
</div>
