.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width:500px;
	min-height: 450px;
	height: 50%;
	width: 30%;
	border: 1px solid #DBDBDB;
	border-radius: 25px;
}

.header{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 30px 0px 30px 0px;
	width: 70%;
	height: 40px;

	// background-color: yellow;
}

.pigeon{
	width: 40px;
  height: 40px;
	background-image: url(../pic/pigeon.svg);
	margin-right: 10px;
}

.title{
	font-size: 35px;
	margin: 0px 0px 0px 20px;
	color: #BFBDDB;
}

.signin{

	font-size: 35px;
	text-align: center;

	margin: 0px 0px 30px 0px;
	// background-color: red;
}

.username{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 30px;
}

.password{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 10px;
}

.checkbox{
	position: relative;
	left: 20%;
	margin-bottom: 30px;
}

.others{
	font-size: 13px;
	position: relative;
	float: left;
	padding-top: 3px;
	margin-right: 40px;
}

.checkmark{
	height: 15px;
	width: 15px;
	float: left;
}

.label{
	font-size: 13px;
	color: gray;

	padding-top: 4px;
}

.submit{
	position: relative;
	left: 60%;

	margin-bottom: 30px;
}

.pigeon{
	width: 40px;
  height: 40px;
  background-repeat: no-repeat;
	background-image: url(../pic/pigeon.svg);

	float: left;
}

.input{
	border: 1px solid #CCC;
	border-radius: 5px;
	height: 40px;
	width: 300px;
}

.button{
	width: 100px;
	height: 30px;
}

.invalid{
  height:50px;
  .invalidInfo{
    padding-left:100px;
    color:red;
  }
  .wrongPassword{
    padding-left:100px;
    color:red;
  }
  .inline-block{
    display: inline-block;
  }

  .font-14 {
    font-size:14px;
  }

  .hidden{
    display: none;
  }
}
