<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<app-calendar (changeDay)="onChangeDay($event)"></app-calendar>
<div class = "wrapper">
  <button [ngClass]="{'selected':false}">Today</button>
  <div class = "today">{{curDay}}</div>
  <button class = "rightBtn" [ngClass]="{'selected':false}">Week</button>
  <button class = "rightBtn" [ngClass]="{'selected':true}">Day</button>
</div>
<app-weekly-schedule [hidden] = true></app-weekly-schedule>
<app-daily-schedule [hidden] = false></app-daily-schedule>
<router-outlet></router-outlet>
