<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<app-calendar (changeDay)="onChangeDay($event)"></app-calendar>
<div class = "wrapper">
  <button routerLink="/day"
          (click) = "currentDay()">Today</button>
  <div name = "previous"
       class = "prev inline-block"
       (click) = "previous()"> <
  </div>
  <div name = "today"
       class = "today inline-block">
       {{curDayFormat}}
  </div>
  <div name = "next"
       class = "next inline-block"
       (click) = "next()"> >
  </div>
  <button class = "rightBtn"
          [ngClass]="{'selected':!isSelected}"
          (click) = "isSelected = !isSelected"
          routerLink="/week">
          Week
  </button>
  <button class = "rightBtn"
          [ngClass]="{'selected':isSelected}"
          (click) = "isSelected = !isSelected"
          routerLink="/day">
          Day
  </button>
</div>

<router-outlet></router-outlet>
