<!--The content below is only a placeholder and can be replaced.-->
<!--  <app-navbar></app-navbar>
<div class = "wrapper">
  <button class = "rightBtn"
          [ngClass]="{'selected':!isSelected}"
          (click) = "isSelected = !isSelected"
          routerLink="/week">
          Week
  </button>
  <button class = "rightBtn"
          [ngClass]="{'selected':isSelected}"
          (click) = "isSelected = !isSelected"
          routerLink="/day">
          Day
  </button>

</div> -->
<router-outlet></router-outlet>
