
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.wrapper{
  position: fixed;
  margin-top:200px;
  width:100%;
  height: 100%;
  padding-left:500px;
  z-index: 100;
  min-width: 600px;
}

.control {
    position: relative;
    background-color: white;
    width:480px;
    height: 270px;
}

input:focus, textarea:focus {
    outline: none;
}

.container {
    position: relative;
    //top: 30px;
    //left: 30px;
    width: 420px;
    height: 210px;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    // padding-bottom: 8px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.8);
    z-index: 10;
}

.input-title {
    width: 100%;
    border-style: solid;
    border-color: #afabab;
    border-width: 0 0 1px 0;
    font-size: 20px;
    margin-bottom: 20px;
}

.input-address {
    width: 100%;
    border-style: solid;
    border-color: #afabab;
    border-width: 0 0 1px 0;
    font-size: 15px;
    margin-bottom: 20px;
}

input:focus {
    border-color: #157ad4;
    border-width: 0 0 2px 0;
}

.close {
    display: inline-block;
    width: 35px;
    height: 35px;
    position: relative;
    right: -390px;
    top: -10px;
    border-radius: 50%;
    // background-color: white;

    .icon {
        position: relative;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 15px;
        background: no-repeat;
        background-image: url('../pic/close.svg');
        cursor: pointer;
    }
}

.close:hover{
    background-color: #e7e7e7;
}

.content{
    position: relative;
    top: -10px;
}

.choose-date {
    position: relative;
    margin-top: 10px;
    width: 390px;
}

.timer {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat;
    background-image: url('../pic/timer.svg');
    margin: 0 10px 0 0;
}

.date-line {
    display: inline-block;
    position: relative;
    top: -7px;
    left: 12px;
    width: 360px;
    height: 30px;
    background-color: #e7e7e7;
    border-radius: 5px;

    input {
        position: relative;
        top: 4px;
        border-style: solid;
        border-width: 0 0 0 0;
        background-color: #e7e7e7;
        text-align: center;
        color: #747272;
        font-size: 13px;
    }

    input:focus {
        border-width: 0 0 2px 0;
        border-color: #157ad4;
    }

    span {
        position: relative;
        top: 4px;
        margin-left: 10px;
        color: #747272;
    }
}

.d-date-left {
    margin-left: 20px;
    width: 70px;
}

.d-date {
    margin-left: 10px;
    width: 70px;
}

.d-time {
    margin-left: 10px;
    width: 60px;
}

.save-button {
    position: relative;
    right: -302px;
    top: 15px;
    width: 100px;
    border: none;
    padding: 8px 20px 8px 20px;
    background: #0472d3;
    color: white;
    box-shadow: 1px 1px 4px #dadada;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
}

.save-button:hover {
    background: #2385db;
}

app-time-chooser {
    z-index: 20;
}


.start-time-chooser {
    position: relative;
    top: -80px;
    left: 175px;
    width: 130px;
    max-height: 200px;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    // padding-bottom: 8px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    background-color: white;
    font-size: 13px;
    color: #747272;
    z-index: 20;
}

.end-time-chooser {
    position: relative;
    top: -80px;
    left: 265px;
    width: 130px;
    max-height: 200px;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    // padding-bottom: 8px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    background-color: white;
    font-size: 13px;
    color: #747272;
    z-index: 20;
}

.scroll {
    max-height: 200px;
    overflow-y: scroll;
}

.item {
    height: 40px;
    line-height: 40px;

    span {
        margin-left: 5px;
    }
}

.item:hover {
    background-color: #eeeeee;
}

.shadow{
  position: fixed;
  width:100%;
  height:100%;
  z-index: 10;
  background-color: rgba(99, 95, 95, 0.1);
}
