div {
  float: left;
}

.navbar {
  margin-top:10px;
  //position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid lightgray;
  min-width: 782px;
}

.calendar {
  width: 10%;
  padding-left: 15px;
  padding-top:5px;
  font-size: 24px;
  color: gray;
}

.date {
  text-align: center;
  font-size: 24px;
  width: 75%;
  //padding-left: 35%;
}

.loginRegister {
  font-size: 16px;
  color:#2476E1 ;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.user {
  float:right;
  padding-right:10px;
  width:40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url(../pic/user.svg);
}

.Google-Calendar-Icon {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background: url(../pic/pigeon.svg);
}
