<div class="wrapper">
  <div class = "flex-container">
      <div class = "flex-container date">
        {{date.format('MMMM')}} {{date.format('YYYY')}}
      </div>
      <div name = "previous month" class = "flex-container flex-center prev" (click)='prevMonth()'> < </div>
      <div class = "flex-container flex-center middle"> </div>
      <div name = "next month" class = "flex-container flex-center next" (click)='nextMonth()'> > </div>
  </div>

  <div class="flex-container font-gray">
    <div class="calendar-days flex-container flex-center">S</div>
    <div class="calendar-days flex-container flex-center">M</div>
    <div class="calendar-days flex-container flex-center">T</div>
    <div class="calendar-days flex-container flex-center">W</div>
    <div class="calendar-days flex-container flex-center">T</div>
    <div class="calendar-days flex-container flex-center">F</div>
    <div class="calendar-days flex-container flex-center">S</div>
  </div>
  <div class="flex-container">
    <div class="flex-container calendar-days flex-center"
    *ngFor="let day of dateArr; let i = index"
    [attr.data-index]="i"
    [ngClass] = "{'today':todayCheck(day)}"
    (click) = "select(day)">
    {{day?.date()}}
  </div>
  </div>
</div>
